body {
  font-family: Arial, sans-serif;
  background-color: #f0e6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #2c6e49;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
  text-align: center;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 100px;
}
